In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
ratings_df = pd.read_csv('../Data/rating.csv')

In [8]:
ratings_df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [9]:
len(ratings_df['userId'].unique())

138493

In [10]:
len(ratings_df)

20000263

### User IDs
* User IDs go from 1..~100k
* These IDs will index a Numpy array, so we want them to start from 0.
* We also want to make sure we utilize all space in the array.
* So we don't want the max User ID to be 100k, but only have 500 users.
* User ids are ordered sequentially from 1..138493 with no missing numbers.
* The only step is to subtract 1 from each ID.

### Movie IDs
* Also go from 1...~100k
* But they are not sequential!
* Only ~20k movies
* For these,we should make a new mapping that goes from 0 to 20k.

In [11]:
ratings_df['userId'] = ratings_df['userId']-1

In [12]:
# set(ratings_df['movieId'].values)

In [13]:
#create mapping for movie ids
unique_movie_ids = set(ratings_df['movieId'].values)

movie2idx={}
idx=0
for movie_id in unique_movie_ids:
    movie2idx[movie_id]=idx
    idx+=1
    
ratings_df['movie_idx'] = ratings_df.apply(lambda row:movie2idx[row['movieId']],axis=1)
ratings_df.head()

   userId  movieId  rating            timestamp  movie_idx
0       0        2     3.5  2005-04-02 23:53:47          2
1       0       29     3.5  2005-04-02 23:31:16         29
2       0       32     3.5  2005-04-02 23:33:39         32
3       0       47     3.5  2005-04-02 23:32:07         47
4       0       50     3.5  2005-04-02 23:29:40         50

* User-User CF won't scale on a single machine
* Next file: preprocess_shrink.py

In [14]:
# we can compare old set before mapping and after mapping we can see that 
# here in new movieid 91th movieid was missing instead we had 131162 in ratings before mapping.
# so yhis mapping was simply done to make it sequential.
# set(ratings_df['movie_idx'].values)

In [15]:
ratings_df = ratings_df.drop('timestamp',axis=1)

In [17]:
ratings_df.to_csv('../Data/edited_rating.csv')